@import "../../../../styles/index";

.modal-content {
  background-color: $bg-dark !important;
}

.login-buttons-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blue-button-login {
  margin: 0;
}
