@import "../../../styles/index";

.my-rounded {
  border-radius: 20px !important;
}

.carousel-indicators {
  button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
  }
}

.slider {
  height: 500px;
}
